<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定一个对应的Dao/Map接口-->
<mapper namespace="com.wanyu.searchengine.dao.SegmentationDao">
    <resultMap id="segmentationMap" type="com.wanyu.searchengine.entity.Segmentation">
    <id column="id" property="id"></id>
    <result column="word" property="word"></result>
    </resultMap>

    <select id="selectAllSeg" resultType="com.wanyu.searchengine.entity.Segmentation">
        select * from segmentation
    </select>

    <select id="selectOneSeg" resultType="com.wanyu.searchengine.entity.Segmentation" parameterType="java.lang.String">
        SELECT * FROM segmentation WHERE word=#{word}
    </select>

    <select id="getAllByWords" resultType="com.wanyu.searchengine.entity.Segmentation">
        select * from segmentation where word LIKE #{word};
    </select>
</mapper>